$colorPink: #F16D7F;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.top {
    background: #F1E4E6;
}

.header__menu {
    background: #222222;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
}

.menu__right {
    display: flex;
    align-items: center;
}

.menu__left img:first-child {
    margin-right: 41px;
}

.menu__right img:nth-child(2) {
    margin: 0 33px;
}

.header__content {
    position: relative;
}

.header__content_image {
    display: block;
    height: 100%;
}

.header__content_heading {
    border-left: $colorPink 12px solid;
    padding-left: 16px;
    position: absolute;
    top: 290px;
    right: 100px;
}

.heading__brand {
    font-weight: 900;
    line-height: 58px;
    color: #222222;
    font-size: 48px;
}

.heading__lux {
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
}

.fashion__text {
    color: $colorPink;
}

@media (max-width: 1024px) {
    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .menu__left {
        margin-left: 16px;
    }

    .menu__right {
        margin-right: 16px;
    }

    .menu__right img:nth-child(2) {
        margin-right: 42px;
        margin-left: 25px;
    }

    .header__content {
        height: 367px;
    }

    .header__content_heading {
        top: 138px;
        right: 33.5px;
        padding-bottom: 10px;
    }

    .heading__brand {
        font-weight: 700;
        font-size: 44px;
        line-height: 53px;
    }

    .heading__lux {
        font-size: 24px;
        line-height: 29px;
    }

}

@media (max-width: 667px) {
    .menu__left {
        margin: 0;
    }

    .menu__right {
        margin: 0;
    }

    .menu__right img:nth-child(2) {
        display: none;
    }

    .menu__right img:nth-child(3) {
        display: none;
    }

    .header__content {
        height: 363px;
        display: flex;
        justify-content: center;
    }

    .header__content_heading {
        padding-bottom: 0;
        right: auto;
        top: 148px;
    }

    .heading__brand {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
    }

    .heading__lux {
        font-size: 20px;
        line-height: 24px;
    }

    .header__content_image {
        display: none;
    }
}